html {
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
}
body:after {
    content: '';
    display: block;
    height: 100px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 240px;
}
#initial-logo{
    padding-left: 50px;
}
#nav-bar-custom{
    padding-right: 3%;
}
