{% extends "about_us/base.jinja2" %}

{%block title%}
    Feed
{%endblock%}

{%block content %}
This is feed
<br>
<br>

{%for feed in feeds %}
    {{feed.comment}} <a href="{% url "au_about:positive" feed.id %}" >posi</a>({{feed.positive_votes}})  <a href="{% url "au_about:negative" feed.id %}" >nega</a>({{feed.negative_votes}})<br>
{%endfor%}
{%endblock%}

