{% extends "about_us/base.jinja2" %}

{%block title%}
    Feed
{%endblock%}

{%block content %}
This is feed
<br>
<br>

{%for feed in feeds %}
    {{feed.comment}} <a href="#" >posi</a>  <a href="#" >nega</a><br>
{%endfor%}
{%endblock%}

