<a href="{% url "au_auth:singup"%}">Sing Up</a>
<br>
<br>
<br>
<h3>{{message}}</h3>
<form action="{% url "au_auth:make_login" %}" method="POST">
    {% csrf_token %}
    <label for="user">User: </label>
    <input id="user" type="text" name="user" value="Username">

    <label for="pass">Password: </label>
    <input id="pass" type="password" name="pass" value="Password">

    <input type="submit" value="OK">
</form>

