{%extends "about_us/base.jinja2"%}

{%block title%}
    {{profile.user}}
{%endblock%}

{%block content%}
    <h2>Abouts - {{profile.user}}</h2>
    <form action="{% url "au_about:new"%}" method="POST">
        {% csrf_token %}
        <input type="text" name="comment" id="comment" value="Escreva um About">
        <input type="hidden" name="profile" id="profile" value="{{profile.id}}">
        <input type="submit">
    </form>

    {%for about in abouts%}
        <a href="/auth/user/{{profile.id}}">{{about.comment}}</a> <a href="{% url "au_about:positive" about.id %}" >posi</a>({{about.positive_votes}})  <a href="{% url "au_about:negative" about.id %}" >nega</a>({{about.negative_votes}})<br>
    {%endfor%}

{%endblock%}
