{% extends "about_us/base.jinja2" %}


{%block title%}
    Profiles
{%endblock%}

{% block content %}
    <div class="row">
        <div class="col s6 offset-s1">
            <h1>Usuários - About Us</h1>
            <p>Saiba sobre nós também, vizualize os abouts de cada usuário</p>
        </div>
        <div class="col s4 ">
            <div class="collection">
                {%for profile in profiles %}
                    <a class="collection-item" href="{%url "au_auth:show_profile" profile.id%}">{{profile.user}}</a>
                {%endfor%}
            </div>
        </div>
    </div>
                <br> <br>
                <br>
                <br>
                <br>
                <br>
{%endblock%}
