{% load staticfiles %}

<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>
            {% block title %}
                About Us
            {% endblock title %}
        </title>
    </head>

    <body>
        <header>
            <h1> About Us </h1>
            <a href="/feed/">Feed</a>
            <a href="{%url "au_auth:show_profile" request.user.id%}">Meu Perfil</a>
            <a href="{% url 'au_auth:show_profiles' %}">Usuários</a>
            <a href="{% url 'au_auth:make_logout' %}">Logout</a>
        </header>
        <br>
        <br>
        {% block content %}{% endblock content %}
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="{% static "js/jquery-2.1.1.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
    </body>
</html>
