<html>
    <head>
        <title>
            {% block title %}
                About Us
            {% endblock title %}
        </title>
    </head>

    <body>
        <header>
            <h1> About Us </h1>
            <a href="/feed/">Feed</a>
            <a href="{%url "au_auth:show_profile" request.user.id%}">Meu Perfil</a>
            <a href="{% url 'au_auth:show_profiles' %}">Usuários</a>
            <a href="{% url 'au_auth:make_logout' %}">Logout</a>
        </header>
        <br>
        <br>
        {% block content %}{% endblock content %}
    </body>
</html>
